# Specify filepatterns you want git to ignore.
*.pyc
*.d
*.so
*.pcm
__pycache__
build
*.egg-info
dist
experimental/
.vscode/
examples/*.root
bin/
root*
*.root
.pytest_cache/
TIMBER/data/Pileup/old/
*output.txt
.nfs*
*.png
*.pdf
decayPlotter.py
